			
		<div class="container"
			<footer>
				<p>Posted by: Xiaoqing</p>
			    <p>Contact information: <a href="mailto:qixiaoqing2016@gmail.com">qixiaoqing2016@gmail.com</a>.</p>
			</footer>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="	sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
		</script>
		
	</body>
</html>